/*BARRA DE BUSQUEDA*/
.search-bar {
  margin-top: 0.5rem;
}

.search-wrapper {
  position: relative;
  max-width: 265px;
}

.search-input {
  width: 100%;
  padding: 0.55rem 0.75rem 0.55rem 2.5rem;
  font-size: .875rem;
  color: white;
  background: #1f2933;
  border: 1px solid #4b5563;
  border-radius: .5rem;
  outline: none;
  transition: all .25s ease;
}

.search-input::placeholder {
  color: #9ca3af;
}

.search-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37,99,235,.25);
}

.search-icon {
  position: absolute;
  left: .65rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  color: #9ca3af;
}
