*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body {
    line-height: 1.6;
}
header
{
    box-shadow: 0 2px 5x rgb(0,0,0,1);

}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: darkgrey;
}

.mi-nav
{
    position: fixed;
    z-index: 1000;
    background-color: white;
}
.h-7{
    width:  100px;
    height: 100px;
}

.nav-links
{
display: flex;
list-style: none;
gap: 2rem;
}
.nav-links a {
text-decoration: none;
}
#INC {
    padding-top: 4rem;
    min-height:  100vh;
    background: url('Img/portada.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 0 1rem;

}
#INC h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: bisque;
    

}
#INC p{
    font: 3rem;
    text-align: center;
    color: bisque;
}
.cta-button{
    background-color: #ff6b6f;
    color:rgb(3, 3, 3);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6rem;
}
.cta-button:hover{
    background-color: #fa5a5a;
}

#Personajes{
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
#Personajes h2{
    text-align: center;
    margin-bottom: 2rem;
}
.personajes-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.personajes-card{
    background: white;
    border-radius: 10PX;
    overflow:hidden ;
    box-shadow:0 2px 5x rgb(0,0,0,1) ;

}
.personajes-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.personajes-card h3{
    padding: 1rem;
    color: black;

}
.recompensa
{
    color: #ff6b6f;
    font-weight: bold;
    padding: 0 1rem;

}
.biografia
{
    padding: .5rem 1rem;
    color: darkgrey;
}
.personajes-card button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.personajes-card button:hover {
    background-color: black;
}
