/* CONTENIDO GENERAL */
.contenido {
  position: relative;
  z-index: 10;
}

/* NAVBAR */
.navbar {
  background-color: #111827; /* gray-900 */
  border-color: #374151;     /* gray-700 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

body {
  font-family: system-ui, sans-serif;
}

/* Fondo */
.fondo {
  position: fixed;
  inset: 0;
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/16712.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

/* Capa de desvanecido */
.desvanecido {
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.85);
  z-index: -1;
}
/* Efecto suave a las cards */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}
